{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
    <main>
        <h2>Регистрация</h2>
        <div class="form">
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.type) }}
            <div>
                <label for="registration_form_phone">Название компании</label>
                <input type="text" id="registration_form_company" name="registration_form[company]" required="required"
                       maxlength="255">
            </div>
            {{ form_row(registrationForm.name) }}
            {{ form_row(registrationForm.phone) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.agreeTerms) }}
            <button class="btn">Регистрировать</button>
            {{ form_end(registrationForm) }}

            <div class="additional">
                <a href="{{ path('app_login') }}">Уже есть аккаунт? Войти</a>
            </div>
        </div>
    </main>


{% endblock %}
