{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block body %}
    <div id="app" class="accent-1">
        <h1>
            <img class="logo" src="{{ asset('build/logo.svg') }}" alt="">
            <span>Lunch Cherry</span>
        </h1>

        <div class="loading">
            <div class="spinner spinner-clock"></div>
        </div>
    </div>
    <div id="user"
         data-user_id="{{ user_id }}"
         data-name="{{ name }}"
         data-email="{{ email }}"
         data-phone="{{ phone }}"
         data-type="{{ type }}"
         data-roles="{{ roles | json_encode }}"
    >
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
