{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block body %}
    <div id="app" class="accent-1">
        <h1>
            <img class="logo" src="{{ asset('build/logo.svg') }}" alt="">
            <span>Lunch Cherry</span>
        </h1>

        <div class="loading">
            <div class="spinner spinner-clock"></div>
        </div>
    </div>
{#    {{ dump(data) }}#}
{#    {{ dump(mapped) }}#}

{#    <form action="/menus/" method="post" style="background-color: red">#}
{#        <label for="date">DATE</label>#}
{#        <input type="text" name="date" id="date">#}
{#    </form>#}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
